@import 'tailwindcss';
@layer theme, base, components, utilities;
@source "../server";

@theme {
  --color-dark-aqua: #3ab7bf;
  --color-bright-aqua: #78dcca;
  --color-navy-blue: #062e6f;
  --color-dark-blue: #12066f;
  --color-dark-green: #06636f;
}

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);
